<%- include("partials/header") %>

<h2 class="sender-id mb-4" id="<%= user_id %>">Group Chatting</h2>

<div class="row">

    <div class="col-md-4">

        <ul class="list-group">
            
          <!-- My Group -->
            <% if(myGroups.length > 0) {  %>
                <% for(let mygroup of myGroups  ) {  %>
                   <div class="myGroup_creator_id">    
                      <li class="list-group-item list-group-item-dark cursor-pointer group-list" data-id="<%= mygroup._id %>" id="<%= mygroup.creator_id %>">
                        <img src="<%= mygroup.image %>" alt="profile pics" width="50px" height="50px">
                        <%= mygroup.name %>

                      </li>
                  </div> 
                <% } %>           
                 
            <% } %>    

            <!-- Joined Group -->

            <% if(joinedGroups.length > 0) {  %>
              <% for(let joinedGroup of joinedGroups) {  %>
                <div class="joinedGroup_creator_id" id="<%= joinedGroup.group_id.creator_id %>">    
                      
                  <li class="list-group-item list-group-item-dark cursor-pointer group-list" data-id="<%= joinedGroup.group_id._id %>" id="<%= joinedGroup.group_id.creator_id %>">
                      <img src="<%= joinedGroup.group_id.image %>" alt="profile pics" width="50px" height="50px">
                      <%= joinedGroup.group_id.name %>
                  </li>
                </div>  
              <% } %>           
               
          <% } %>

        </ul>

    </div>

    <div class="col-md-8">
        <h3 class="group-start-head"> Click to start the Chat </h3>
        <div class="group-chat-section">

            <div id="group-chat-container">    
                <div class="current-user-chats">
                    <h5></h5>
                </div>    
                <div class="distance-user-chats">
                    <h5></h5>
                </div>         
            </div>

            <form action="" id="group-chat-form">
                <input type="text" name="message" placeholder="Enter your message" id="group-message" class="border" required>
                <input type="submit" value="Send Message"  class="btn btn-primary">
            </form>


        </div>

    </div>

</div>

<!-- delete Modal sections -->
<div class="modal fade" id="deleteGroupChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="'exampleModalLongTitle">Delete Chat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span arial-hidden="true">&times;</span>
          </button>
        </div>

        <form id="delete-group-chat-form" id="delete-group-message-id">
          <div class="modal-body">
              <input type="hidden" name="id" id="delete-group-message-id">
            <p>Are you sure you want to delete the message below?</p>
            <p><b id="delete-group-message"></b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" id="delete-group-message-id">Delete</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>

  
<!-- Edit Modal sections -->
<div class="modal fade" id="editGroupChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="'exampleModalLongTitle">Edit Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span arial-hidden="true">&times;</span>
        </button>
      </div>

      <form id="edit-group-chat-form" id="edit-group-message-id">
        <div class="modal-body">
            <input type="text" name="id" id="edit-group-message" class="mb-2">
          <p>Click on the update button to submit</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="edit-group-message-id">Update</button>
        </div>
      </form>
      
    </div>
  </div>
</div>

<%- include("partials/footer_top") %>

<script src="/index/index.js"></script>

<%- include("partials/footer_down") %>

